<div class="row py-3 mb-4">
  <div class="column">
    <h2>{{title}}</h2>
    <h5>Posted by {{user.name}} on {{postDate}}</h4>
    <p>{{body}}</p>
  </div>
</div>

<div class="row py-3 mb-4">
  <div class="column">
    <form id="commentForm">
      <div class="form-group">
        <label for="commentBox"></label>
        <textarea class="form-control" name="commentName" id="commmentBox" placeholder="Add your comment here..." rows="5"></textarea> 
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-secondary btn-lg my-2">Submit Comment</button>
      </div>
    </form>
  </div>
</div>

<div class="row py-3 mb-4">
  <div class="column">
    {{#each comments as |comment|}}
    <p>{{comment.body}}</p>
    {{/each}}
  </div>
</div>

<script src="./js/submitComment.js"></script>


  